#container {
	width:1300px;
}


#title {
	padding-left: 25px;
    width: 500px;
    height: 40px;
    background-color: #81BC39;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-top: 25px;
}

#users {
	
	margin-top: 40px;
    font-size: 16px;
    color: #333333;
    padding-left: 0px;

}

li {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	list-style: none;
    text-decoration: none;
    padding-left: 0px;
    padding-bottom: 10px;
}

.fa fa-user{
	color: #ccc;
	width: 20px;
	height: 20px;
}